.containerWeather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  background-color: #ff9a8c;
  margin-bottom: 20px;
}

.imageSun {
  width: 120px;
  height: 100px;
}
