.container-home {
  /* if I use Nav component I must to change the "height" */
  /* height: calc(100% - 60px); */
  height: 100%;
  background-color: #ffc107;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}

.home-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
  margin-top: 10px;
}

.containerHome {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: #ffecb3;
  border: 2px solid #bdbdbd;
  margin: 10px;
}
